<%-include("header")-%>
<main id="mainarea">
    <div class="contentArea container-fluid row">
        <div class="col-lg-4 col-md-3 col-sm-2  aboutArea">
            <h1 class="text-dark "><%-first-%> &nbsp; </h1>
        </div>
        &nbsp;
        <div class="col-lg-4 col-md-3 col-sm-2 skillsArea">
            <h1 class="text-dark "><%-second-%></h1>
        </div>
        &nbsp;
        <div class="col-lg-3 col-md-3 col-sm-12 projectsArea">
            <h1 class="text-dark "><%-third-%> </h1>
        </div>
    </div>
</main>
<%-include("footer")-%>