<%-include("header")%>
  <div id="mainarea">
  <div   class="contentArea container-fluid row">
       <div class="col-lg-3 col-md-4 col-sm-6 mx-auto  aboutArea">
      <h1 class="text-dark "><%-aboutme-%> &nbsp; </h1>
    </div>
    &nbsp;
    <div class="col-lg-3 col-md-4 col-sm-6 mx-auto  skillsArea">
      <h1 class="text-dark "><%-skills-%></h1>
    </div>
    &nbsp;
    <div class="col-lg-3 col-md-4 col-sm-6 mx-auto  projectsArea">
      <h1 class="text-dark "><%-projects-%> </h1>
    </div>
    
  
  </div>
  </div>
 
<%-include("footer")%>